@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbcfe8;
  background-image: linear-gradient(to bottom right, white, #fbcfe8);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cinzel', serif;
}

p,
span,
a,
strong {
  font-family: 'Lato', sans-serif;
}

.gallery-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.gallery-image {
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s;
  height: 300px !important;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-width: 700px;
  max-height: 600px;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.nav-button {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  margin: 0 10px;
}

.nav-button-r {
  position: absolute;
  top: 50%;
  right: 18px;
  background: none;
  border: none;
  font-size: 24px;
  color: black;
  cursor: pointer;
  margin: 0 10px;
}
